.product_form {
  padding: 1rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin: 1rem 5rem;
  input,
  select {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    padding: 1rem;
  }
  &__buttons {
    margin-top: 4rem;
  }
  .optionFeatures {
    display: flex;
    flex-direction: column;
  }
}
#furnitureFeature,
#bookFeature {
  display: none;
}
#errorMessage {
  font-size: 1.6rem;
  color: red;
  margin-top: 0.5rem;
  display: none;
}
