.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-black;

  padding: 2rem;
  &__buttons {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
  }
}
